[tc-list-item]
  position: relative
  
  .input-group
    position: absolute
    top: 0
    left: 0
    
    input[type='text']
      max-width: 200px
  
  .list-item-buttons
    position: absolute
    top: 0
    left: 0